.wrapper{
  font-size: 10px;
  .action-box{
    display: flex;
    align-items: center;
  }

  .container{


    .products-wrapper{
      height: 600px;
      width: 50%;
      border: 1px solid palevioletred;
      overflow-y: scroll;

      .cards{
        height: 180px;
        width: 400px;
        box-shadow: 0 0 10px 5px gray;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
        margin: 5px;
        background: #1565b0;
        color: #fff;
        .iCard{
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: flex-start;
          flex-direction: column;
        }
        .title{
          font-weight: 900;
          color: #000;
        }
        .description{
          font-weight: 700;
          color: #222;
        }
        .price{
          color: #fff;
        }
        .dates{
          font-size: 10px;
          display: flex;
          color:darkred;
          label{
            margin-right: 10px;
          }
        }
      }

    }

  }
}

.selected{
  background: crimson !important;

}
.sort{
  background: green;
  color: #fff;
  font-size: 25px;
  padding: 20px;
  cursor: pointer;
}
